# TensorFlow Libraries
tensorflow==2.6.*
tensorflow-datasets

# Other Libraries
scikit-learn
numpy==1.19.*
matplotlib
pygame
gym
pyglet
opencv-python

# Linting/Tooling
pylint
flake8
flake8-bugbear
flake8-comprehensions
mypy
mypy-extensions
pydantic
isort
black==21.4b0
pre-commit
autopep8
